body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

:root {
  --darkBlue: hsl(240, 38%, 20%);
  --grayishBlue: hsl(240, 18%, 77%);
}

.is-hidden {
  display: none !important;
}
.wrapper {
  display: block;
  box-sizing: border-box;
  padding: 1.6em;
  height: 100vh;
  background: url("../images/pattern-bg.svg") top center no-repeat,
    url("../images/pattern-quotes.svg") top 325px center no-repeat,
    url("../images/pattern-curve.svg") bottom -32px left -30px no-repeat;
  background-size: 100%, 60px, 100%;
  background-origin: content-box;
}

.profile {
  text-align: center;
  &__image {
    display: block;
    width: 79%;
    margin: 1.8em auto 2em;
    border-radius: 5px;
    box-shadow: 0 4px 19px -10px var(--darkBlue);
  }

  &__controls {
    background: white;
    width: 80px;
    height: 40px;
    border-radius: 45px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: -55px auto 0;
    z-index: 1;
    position: relative;
    box-shadow: 0 4px 19px -15px var(--darkBlue);
    .btn-prev,
    .btn-next {
      height: 100%;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    img {
      width: 10px;
    }
  }

  &__description {
    color: var(--darkBlue);
    font-weight: 300;
    font-size: 19px;
    margin-top: 50px;
  }

  &__name {
    margin: 0;
    font-weight: 700;
    color: var(--darkBlue);
  }

  &__especiality {
    color: var(--grayishBlue);
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    background: url("../images/pattern-bg.svg") top center no-repeat;
    background-size: 79%;
    background-origin: content-box;
  }

  .profile {
    &__image {
      width: auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    background: url("../images/pattern-bg.svg") center right no-repeat,
      url("../images/pattern-quotes.svg") top 235px left 300px no-repeat,
      url("../images/pattern-curve.svg") bottom left no-repeat;
    background-size: auto;
    background-origin: content-box, border-box, border-box;
    display: grid;
    padding: 82.5px;
  }
  .profile {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    &__grid {
      grid-column: 2;
      position: relative;
    }

    &__image {
      width: auto;
      margin: 0;
    }

    &__controls {
      width: 115px;
      height: 60px;
      position: absolute;
      bottom: -25px;
      left: 50px;
    }

    &__content {
      grid-row: 1;
      text-align: left;
      position: relative;
      margin-left: 80px;
    }

    &__description {
      font-size: 32px;
      text-align: left;
      width: 115%;
      margin-top: 0;
      margin-bottom: 2em;
    }

    &__name {
      display: inline-block;
      font-size: 20px;
    }
    &__especiality {
      display: inline-block;
      font-size: 20px;
    }
  }
}
